---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">ホーム</a>
        <a href="/about/">概要</a>
        <a href="/memos/">メモ</a>
		<h1>メモ一覧</h1>
        <p>メモが投稿されます。</p>
        <ul>
            <li><a href="/posts/abc000_a/">記事1</a></li>
        </ul>
	</body>
</html>